body {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    background-color: var(--black);
    font-family: "Fira Code", monospace;
    color: var(--white);
}

button {
    all: unset;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--content);
}

a:hover, button:hover {
    text-decoration: underline;
    cursor: pointer;
}

h2 {
    font-size: var(--section);
    text-align: center;
}

p {
    font-size: var(--content);
    text-align: center;
}

span {
    font-size: var(--content);
}

header {
    border-bottom: 3px solid var(--white);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

video {
    width: 100%;
    max-width: 720px;
}

.video {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}

.past-replay, #delete-replay {
    display: block;
    text-align: center;
    margin: 0px;
    color: var(--purple);
}

.current-replay, #delete-replay {
    color: var(--red);
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 12px;
}

.actions > * {
    text-align: center;
    width: min-content;
}

#github {
    color: var(--green);
    font-size: var(--content);
}

#app-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--title);
    text-decoration: none;
}

#settings {
    color: var(--blue);
}

#capture {
    color: var(--red);
    border: 5px solid var(--red);
    font-size: var(--intense);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#delete-replay {
    display: inline;
}
